{{ define "hero" }}
    <!-- Headline & Tagline -->
    <div class="row pt-5">
        <div class="col text-center">
            <h2 class="hero__tag_line headline pb-2">Making Observability Data Simple</h2>
            <h5 class="tagline pb-3">Our mission is to help organizations to unlock modern, cloud-native, future-proof, observability stacks.</h5>
        </div>
    </div>
{{ end }}

{{ define "main" }}
    <section class="community_resources background--light pt-3 pb-6">
        <div class="container">
            <!-- Section Title-->
            <div class="row">
                <div class="col">
                    <h1 class="section__title pb-4">Team</h1>

                    <p>From Braintree, to SeatGeek, to Timber.io, Vector is comprised of engineers with deep experience managing large production-scale observability pipelines.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="community_resources background--light pt-3 pb-6">
        <div class="container">
            <!-- Section Title-->
            <div class="row">
                <div class="col">
                    <h1 class="section__title pb-4">Investors</h1>

                    <p>The Vector team is comprised of engineers with deep experience managing observability data pipelines. From Braintree, to Seatgeek, to Timber.io, V
                </div>
            </div>
        </div>
    </section>
{{ end }}