{{ define "hero" }}
    <!-- Headline & Tagline -->
    <div class="row pt-5">
        <div class="col text-center">
            <h2 class="hero__tag_line headline pb-2">Vector Makes Observability Data Simple</h2>
            <h5 class="tagline pb-3">Vector is an <a href="{{ $.Site.Params.repoURL }}" target="_blank">open-source</a> utility for collecting, transforming, and routing logs, metrics, and events.</h5>
            <a class="btn btn--primary btn--rounded mb-3 mb-sm-0 mr-0 mr-sm-3" href="{{ $.Site.Params.getStartedURL }}">Get Started</a>
            <a class="btn btn--outline btn--rounded mb-3 mb-sm-0" href="{{ $.Site.Params.downloadURL }}">Download v0.1.0</a>
        </div>
    </div>

    <!-- Illustration -->
    <div class="row">
        <div class="col-12 mb-3 text-center hero__illustration__container">
            <!-- Sources -->
            <a href="#"><img alt="Source 1" class="hero__icon source--1" data-fadetype="source"
                             src="/images/source-file.png"></a>
            <a href="#"><img alt="Source 2" class="hero__icon source--2" data-fadetype="source"
                             src="/images/source-syslog.png"></a>
            <a href="#"><img alt="Source 3" class="hero__icon source--3" data-fadetype="source"
                             src="/images/source-statsd.png"></a>
            <!-- Sinks -->
            <a href="#"><img alt="Sink 1" class="hero__icon sink--1" data-fadetype="sink"
                             data-sink-type="logs" src="/images/sink-s3.png"></a>
            <a href="#"><img alt="Sink 2" class="hero__icon sink--2" data-fadetype="sink"
                             data-sink-type="logs" src="/images/sink-elasticsearch.png"></a>
            <a href="#"><img alt="Sink 3" class="hero__icon sink--3" data-fadetype="sink"
                             data-sink-type="metrics" src="/images/sink-prometheus.png"></a>
            <!-- Background Illustration-->
            <img alt="Sources, Transforms and Sinks" class="hero__illustration"
                 src="/images/hero-background.svg">
        </div>
        <div class="col-4 text-right">
            <h4 class="hero__link">1. Take data from <a href="{{ $.Site.Params.sourcesURL }}">sources</a></h4>
        </div>
        <div class="col-4 text-center">
            <h4 class="hero__link">2. Structure & <a href="{{ $.Site.Params.transformsURL }}">transform</a> it</h4>
        </div>
        <div class="col-4 text-left">
            <h4 class="hero__link">3. Send it to <a href="{{ $.Site.Params.sinksURL }}">sinks</a></h4>
        </div>
    </div>
{{ end }}

{{ define "main" }}
    <!-- Features -->
    <section class="features background--light pt-5 pb-5">
        <div class="container">

            <!-- Section Title-->
            <div class="row">
                <div class="col">
                    <h1 class="section__title pb-4">Features</h1>
                </div>
            </div>

            <!-- Feature Cards -->
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-4">
                    <div class="featurecard">
                        <div class="featurecard__icon pb-3">
                            <img alt="Blistering Fast" src="/images/feature-fast.png">
                        </div>
                        <h4 class="featurecard__title pb-2">Blistering Fast</h4>
                        <p class="featurecard__copy">Built in <a href="https://www.rust-lang.org/" target="_blank">Rust</a>, Vector is <a href="{{ $.Site.Params.performanceURL }}">blistering fast and memory efficient</a>. It's
                            designed to handle the most demanding environments.</p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-4">
                    <div class="featurecard">
                        <div class="featurecard__icon pb-3">
                            <img alt="Easy To Operate" src="/images/feature-agnostic.png">
                        </div>
                        <h4 class="featurecard__title pb-2">Vendor Neutral</h4>
                        <p class="featurecard__copy">Vector does not favor any specific storage. It fosters a fair, open ecosystem with the user's best interest in mind.</p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-4">
                    <div class="featurecard">
                        <div class="featurecard__icon pb-3">
                            <img alt="Distributed or Centralized" src="/images/feature-distributed.png">
                        </div>
                        <h4 class="featurecard__title pb-2">Agent or Service</h4>
                        <p class="featurecard__copy">Vector aims to be the single, and only, tool needed to get data from A
                            to B, deploying as an <a href="{{ $.Site.Params.agentRoleURL }}">agent</a> or <a href="{{ $.Site.Params.serviceRoleURL }}">service</a>.</p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-4">
                    <div class="featurecard">
                        <div class="featurecard__icon pb-3">
                            <img alt="Logs or Metrics" src="/images/feature-logs.png">
                        </div>
                        <h4 class="featurecard__title pb-2">Logs, Metrics, & Events</h4>
                        <p class="featurecard__copy">Vector unifies logs, metrics, and events at the source, making it collect and ship all observability data.
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-4">
                    <div class="featurecard">
                        <div class="featurecard__icon pb-3">
                            <img alt="Programmable Transforms" src="/images/feature-transforms.png">
                        </div>
                        <h4 class="featurecard__title pb-2">Programmable Transforms</h4>
                        <p class="featurecard__copy">An <a href="{{ $.Site.Params.luaURL }}">embedded LUA engine</a> makes it easy to program powerful
                            transforms. Handle complex use cases without limitations.</p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-4">
                    <div class="featurecard">
                        <div class="featurecard__icon pb-3">
                            <img alt="Reliable Delivery" src="/images/feature-delivery.png">
                        </div>
                        <h4 class="featurecard__title pb-2">Clear Guarantees</h4>
                        <p class="featurecard__copy">Vector is <a href="{{ $.Site.Params.guaranteesURL }}">clear on it's guarantees</a>, helping you to make the appropriate trade offs for your use case.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <!-- Performance Tests -->
    <section class="performance_tests background--grey pt-5 pb-5" id="performance_tests" v-cloak>
        <div class="container">

            <!-- Section Title-->
            <div class="row">
                <div class="col">
                    <h1 class="section__title pb-4">Performance</h1>
                </div>
            </div>

            <!-- Performance Test Tool -->

            <div class="row mb-4">
                <div class="col">
                    <div class="row performance_testbar p-3">
                        <div class="col-12 col-md">
                            <div class="performance_testbar__select" id="performance_testbar__select"
                                 v-on:click.prevent="performance_tests_open = true">{{ "{{" }} performance_tests[selected_performance_test].name {{ "}}" }} <img
                                    alt="Select a Test" class="performance_testbar__select__arrows"
                                    src="/images/select-arrows.png"></div>
                            <ul class="performance_testbar__options" v-if="performance_tests_open">
                                <li v-for="(performance_test, index) in performance_tests" v-on:click.prevent="selectPerformanceTest(index)">
                                    {{ "{{" }} performance_test.name {{ "}}" }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md mt-2 mt-md-0">
                            <div class="optionsbar text-left text-md-right">
                                <a class="optionsbar__item" href="#" v-bind:class="{ active: selected_metric == index }"
                                   v-for="(metric, index) in performance_tests[selected_performance_test].metrics"
                                   v-on:click.prevent="changeMetric(index)">{{ "{{" }} metric.name {{ "}}" }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 mb-3" v-bind:class="{ 'performance_test__bar--active': measurement.name == 'Vector' }"
                 v-for="(measurement, index) in performance_tests[selected_performance_test].metrics[selected_metric].measurements">
                <div class="col-12 col-md performance_test__label text-left text-md-right">{{ "{{" }} measurement.name {{ "}}" }}</div>
                <div class="col-12 col-md">
                    <div class="performance_test__bar">
                        <div :data-performance_test-percentage="calculatePercentage(measurement.value)"
                             class="performance_test__bar__element"></div>
                        <div class="performance_test__bar__value">{{ "{{" }} measurement.label {{ "}}" }}</div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col text-center">
                    <h5 class="performance_test__descriptor">{{ "{{" }} performance_tests[selected_performance_test].description {{ "}}" }}</h5>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col section__links text-center">
                    <a v-bind:href="'https://github.com/timberio/vector-test-harness/tree/master/cases/' + performance_tests[selected_performance_test].slug">learn more</a>
                </div>
            </div>

        </div>
    </section>

    <!-- Correctness -->
    <section class="correctness background--light pt-5 pb-5">
        <div class="container">
            <!-- Section Title-->
            <div class="row">
                <div class="col">
                    <h1 class="section__title pb-4">Correctness</h1>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive">
                    <table class="correctness__results table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Vector</th>
                                <th>Filebeat</th>
                                <th>FluentBit</th>
                                <th>FluentD</th>
                                <th>Logstash</th>
                                <th>SplunkHF</th>
                                <th>SplunkUF</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="https://github.com/timberio/vector-test-harness/tree/master/cases/disk_buffer_persistence_correctness">Disk buffer persistence</a></td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="failed">𝘅</td>
                                <td class="failed">𝘅</td>
                                <td class="warning">⚠</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                            </tr>
                            <tr>
                                <td><a href="https://github.com/timberio/vector-test-harness/tree/master/cases/file_rotate_create_correctness">File rotate (create)</a></td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                            </tr>
                            <tr>
                                <td><a href="https://github.com/timberio/vector-test-harness/tree/master/cases/file_rotate_truncate_correctness">File rotate (copytruncate)</a></td>
                                <td class="passed">✔</td>
                                <td class="failed">𝘅</td>
                                <td class="failed">𝘅</td>
                                <td class="failed">𝘅</td>
                                <td class="failed">𝘅</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                            </tr>
                            <tr>
                                <td><a href="https://github.com/timberio/vector-test-harness/tree/master/cases/file_truncate_correctness">File truncation</a></td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                            </tr>
                            <tr>
                                <td><a href="https://github.com/timberio/vector-test-harness/tree/master/cases/sighup_correctness">Process (SIGHUP)</a></td>
                                <td class="passed">✔</td>
                                <td class="failed">𝘅</td>
                                <td class="failed">𝘅</td>
                                <td class="failed">𝘅</td>
                                <td class="warning">⚠</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                            </tr>
                            <tr>
                                <td><a href="https://github.com/timberio/vector-test-harness/tree/master/cases/tcp_stream_correctness">TCP Streaming</a></td>
                                <td class="passed">✔</td>
                                <td class="failed">𝘅</td>
                                <td class="failed">𝘅</td>
                                <td class="failed">𝘅</td>
                                <td class="failed">𝘅</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                            </tr>
                            <tr>
                                <td><a href="https://github.com/timberio/vector-test-harness/tree/master/cases/wrapped_json_correctness">JSON (wrapped)</a></td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="failed">𝘅</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                                <td class="passed">✔</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col section__links text-center">
                    <a href="{{ $.Site.Params.correctnessURL }}">learn more</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Topologies -->
    <section class="topologies background--grey pt-5 pb-5">
        <div class="container">

            <!-- Section Title-->
            <div class="row">
                <div class="col">
                    <h1 class="section__title pb-6">One solution for any deployment model</h1>
                </div>
            </div>

            <div class="row pb-7">
                <div class="col text-center">
                    <div id="topologiesIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#topologiesIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#topologiesIndicators" data-slide-to="1"></li>
                            <li data-target="#topologiesIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/topologies-distributed.svg" class="d-block w-100" alt="Distributed topology">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/topologies-centralized.svg" class="d-block w-100" alt="Centralized topology">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/topologies-stream-based.svg" class="d-block w-100" alt="Stream-based topology">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col section__links text-center">
                    <a href="{{ $.Site.Params.topologiesURL }}">learn more</a>
                </div>
            </div>


        </div>
    </section>

    <!-- Configuration -->
    <section class="configuration background--white pt-5 pb-5">
        <div class="container">

            <!-- Section Title-->
            <div class="row">
                <div class="col">
                    <h1 class="section__title pb-4">Simple To Configure</h1>
                </div>
            </div>

            <div class="row pb-6 justify-content-around">
                <div class="col-12 col-lg-6 col-xxl-4 configuration__toml toml--start">
                    <p>
                        <strong>vector.toml</strong>
                    </p>
                </div>
                <div class="col-5">
                    <!-- Empty for Spacing -->
                </div>
                <div class="col-12 col-lg-6 col-xxl-4 configuration__toml toml--color1">
                    <img alt="Configuration Flow" class="d-none d-lg-block configuration__arrows"
                         src="/images/configuration-arrows.svg">
                    <p>
                        [sources.logs]<span class="d-none d-lg-inline">&nbsp;&nbsp;&nbsp;</span><br>
                        &nbsp;&nbsp;&nbsp;type = 'file'<br>
                        &nbsp;&nbsp;&nbsp;include = ['/var/log/app*.log']<br>
                        &nbsp;&nbsp;&nbsp;start_at_beginning = false<br>
                        &nbsp;&nbsp;&nbsp;ignore_older = 3600
                    </p>
                </div>
                <div class="d-none d-lg-block col-5 configuration__callout">
                    <h6>Define One Or More Data Sources</h6>
                    <a href="{{ $.Site.Params.sourcesURL }}">view all sources</a>
                </div>
                <div class="col-12 col-lg-6 col-xxl-4 configuration__toml toml--color2">
                    <p>
                        [transforms.tokenizer]<span class="d-none d-lg-inline">&nbsp;&nbsp;&nbsp;</span><br>
                        &nbsp;&nbsp;&nbsp;inputs = ['logs']<br>
                        &nbsp;&nbsp;&nbsp;type = 'tokenizer'<br>
                        &nbsp;&nbsp;&nbsp;field_names = ["timestamp", "level", "message"]
                    </p>
                </div>
                <div class="d-none d-lg-block col-5 configuration__callout">
                    <h6>Parse &amp; Transform</h6>
                    <a href="{{ $.Site.Params.transformsURL }}">view all transforms</a>
                </div>
                <div class="col-12 col-lg-6 col-xxl-4 configuration__toml toml--color2">
                    <p>
                        [transforms.sampler]<span class="d-none d-lg-inline">&nbsp;&nbsp;&nbsp;</span><br>
                        &nbsp;&nbsp;&nbsp;inputs = ['tokenizer']<br>
                        &nbsp;&nbsp;&nbsp;type = 'sampler'<br>
                        &nbsp;&nbsp;&nbsp;hash_field = 'request_id'<br>
                        &nbsp;&nbsp;&nbsp;rate = 10
                    </p>
                </div>
                <div class="d-none d-lg-block col-5 configuration__callout">
                    <h6>Transactionally Sample</h6>
                    <a href="{{ $.Site.Params.transformsURL }}">view all transforms</a>
                </div>
                <div class="col-12 col-lg-6 col-xxl-4 configuration__toml toml--color3">
                    <p>
                        [sinks.es_cluster]<span class="d-none d-lg-inline">&nbsp;&nbsp;&nbsp;</span><br>
                        &nbsp;&nbsp;&nbsp;inputs = ['sampler']<br>
                        &nbsp;&nbsp;&nbsp;type = 'elasticsearch'<br>
                        &nbsp;&nbsp;&nbsp;host = '123.123.123.123:5000'<br>
                    </p>
                </div>
                <div class="d-none d-lg-block col-5 configuration__callout">
                    <h6>Analyze &amp; Search</h6>
                    <a href="{{ $.Site.Params.sinksURL }}">view all sinks</a>
                </div>
                <div class="col-12 col-lg-6 col-xxl-4 configuration__toml toml--end  toml--color3">
                    <p>
                        [sinks.s3_archive]<span class="d-none d-lg-inline">&nbsp;&nbsp;&nbsp;</span><br>
                        &nbsp;&nbsp;&nbsp;inputs = ['tokenizer']<br>
                        &nbsp;&nbsp;&nbsp;type = 's3'<br>
                        &nbsp;&nbsp;&nbsp;region = 'us-east-1'<br>
                        &nbsp;&nbsp;&nbsp;bucket = 'log-archives'<br>
                        &nbsp;&nbsp;&nbsp;key_prefix = 'date=%F'<br>
                    </p>
                </div>
                <div class="d-none d-lg-block col-5 configuration__callout">
                    <h6>Archive &amp; Backup</h6>
                    <a href="{{ $.Site.Params.sinksURL }}">view all sinks</a>
                </div>
            </div>

            <div class="row">
                <div class="col section__links text-center">
                    <a href="{{ $.Site.Params.configurationURL }}">view all configuration options</a>
                </div>
            </div>

        </div>
    </section>

    <!-- Powers -->
    <section class="powers background--powers pt-5 pb-7">
        <div class="container">

            <!-- Section Title-->
            <div class="row">
                <div class="col">
                    <h1 class="section__title pb-5">Gives You <span>Super</span> Powers</h1>
                </div>
            </div>

            <div class="row pb-7">
                <div class="col text-center">
                    <img src="/images/powers-illustration.svg" alt="Gives You Super Powers" class="powers-illustration">
                    <a href="{{ $.Site.Params.multiCloudURL }}" class="powers__link link--1"></a>
                    <a href="{{ $.Site.Params.governanceURL }}" class="powers__link link--2"></a>
                    <a href="{{ $.Site.Params.lockinURL }}" class="powers__link link--3"></a>
                    <a href="{{ $.Site.Params.costURL }}" class="powers__link link--4"></a>
                    <a href="{{ $.Site.Params.backupsURL }}" class="powers__link link--5"></a>
                    <a href="{{ $.Site.Params.securityURL }}" class="powers__link link--6"></a>
                </div>
            </div>

        </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-12">
                    <div class="call-to-action__panel">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-md-6">
                                <h1 class="call-to-action__title">Ready to use Vector?</h1>
                                <h5 class="call-to-action__copy">
                                    Get started by downloading Vector and following the install instructions.
                                </h5>
                            </div>
                            <div class="col-12 col-md-5 mt-3 mt-md-0">
                                <a class="btn btn--cta hover--primary mb-3" href="{{ $.Site.Params.installURL }}">Install</a>
                                <a class="btn btn--cta hover--secondary" href="{{ $.Site.Params.downloadURL }}">Download</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Philosophy -->
    <section class="philosophy background--light pt-3 pb-6">
        <div class="container">

            <!-- Section Title-->
            <div class="row">
                <div class="col">
                    <h1 class="section__title pb-4">Philosophy</h1>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 col-lg-6 mb-4">
                    <a class="philosophy__box" href="#">
                        <img alt="Logging" class="philosophy__image" src="/images/philosophy-1.svg">
                        <h4 class="philosophy__title">The fundamentals of reliable logging pipelines</h4>
                    </a>
                </div>
                <div class="col-12 col-lg-6 mb-4">
                    <a class="philosophy__box" href="#">
                        <img alt="Overkill" class="philosophy__image" src="/images/philosophy-2.svg">
                        <h4 class="philosophy__title">Why Kafka can be overkill & log agents aren’t enough</h4>
                    </a>
                </div>
                <div class="col-12 col-lg-6 mb-4">
                    <a class="philosophy__box" href="#">
                        <img alt="Rust" class="philosophy__image" src="/images/philosophy-3.svg">
                        <h4 class="philosophy__title">Why we chose Rust to build Vector</h4>
                    </a>
                </div>
                <div class="col-12 col-lg-6 mb-4">
                    <a class="philosophy__box" href="#">
                        <img alt="12 Factor" class="philosophy__image" src="/images/philosophy-4.svg">
                        <h4 class="philosophy__title">Deriving metrics from events & staying true to 12 factor</h4>
                    </a>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7 text-center">
                    <h3 class="mb-1">Get updates delivered straight to your inbox</h3>
                    <p class="lead">Simple monthly updates. No spam, ever.</p>
                    <form action="{{ $.Site.Params.subscribeActionURL }}" method="post">
                        <input class="form-control philosophy__subscribe mb-3" name="email" placeholder="enter your email address"
                           type="email">
                        <button class="btn btn--subscribe btn--darkblue" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <!-- Roadmap -->
    <section class="roadmap background--grey pt-5 pb-7">
        <div class="container pb-7">

            <!-- Section Title-->
            <div class="row">
                <div class="col">
                    <h1 class="section__title pb-5">Where We're Headed</h1>
                </div>
            </div>

            <div class="timeline">
                <div class="timeline__bar"></div>
                <div class="row timeline__item">
                    <div class="col-12 col-sm-6 pt-3 timeline__item__content timeline__item__content--color1">
                        <h4 class="timeline__title"><a href="https://github.com/timberio/vector/milestone/2">v0.1 - Logs Support</a></h4>
                        <div class="pill pill--released mt-1 mb-2">Released</div>
                        <p class="timeline__copy">Basic log collection and shipping.</p>
                    </div>
                </div>
                <div class="row timeline__item">
                    <div class="col-12 col-sm-6 pt-3 timeline__item__content timeline__item__content--color1">
                        <h4 class="timeline__title"><a href="https://github.com/timberio/vector/milestone/3">v0.2 - Metrics Support</a></h4>
                        <div class="pill pill--released mt-1 mb-2">Released</div>
                        <p class="timeline__copy">Basic metrics support in the context of logs: converting logs to metrics, outputting metrics to popular metrics storages.</p>
                    </div>
                </div>
                <div class="row timeline__item">
                    <div class="col-12 col-sm-6 pt-3 timeline__item__content timeline__item__content--color1">
                        <h4 class="timeline__title"><a href="https://github.com/timberio/vector/milestone/5">v0.3 - Parsing & Transforming</a></h4>
                        <div class="pill pill--beta mt-1 mb-2">In Dev</div>
                        <p class="timeline__copy">LUA runtime, Regex parser, Grok parser, tokenized parser, and more.</p>
                    </div>
                </div>
                <div class="row timeline__item">
                    <div class="col-12 col-sm-6 pt-3 timeline__item__content timeline__item__content--color2">
                        <h4 class="timeline__title"><a href="https://github.com/timberio/vector/milestone/7">v0.4 - Schemas</a></h4>
                        <p class="timeline__copy">Ability to coerce values and define a schema, guaranteeing consistent normalized types for known fields.</p>
                    </div>
                </div>
                <div class="row timeline__item">
                    <div class="col-12 col-sm-6 pt-3 timeline__item__content timeline__item__content--color2">
                        <h4 class="timeline__title"><a href="https://github.com/timberio/vector/milestone/6">v0.5 - Stream Consumers</a></h4>
                        <p class="timeline__copy">Kafka, Kinesis, and SQS consumer sources.</p>
                    </div>
                </div>
                <div class="row timeline__item">
                    <div class="col-12 col-sm-6 pt-3 timeline__item__content timeline__item__content--color2">
                        <h4 class="timeline__title"><a href="https://github.com/timberio/vector/milestone/8">v0.6 - Columnar Writing</a></h4>
                        <p class="timeline__copy">CSV/ORC/Parquet, Big Query, ClickHouse, and more.</p>
                    </div>
                </div>
                <div class="row timeline__item">
                    <div class="col-12 col-sm-6 pt-3 timeline__item__content timeline__item__content--color3">
                        <h4 class="timeline__title"><a href="https://github.com/timberio/vector/milestone/9">v0.7 - CLI</a></h4>
                        <p class="timeline__copy">List vector instances, view topology, validate config changes, syphon test data, pre-flight testing, observability, and more.</p>
                    </div>
                </div>
                <div class="row timeline__item">
                    <div class="col-12 col-sm-6 pt-3 timeline__item__content timeline__item__content--color3">
                        <h4 class="timeline__title"><a href="https://github.com/timberio/vector/milestone/10">v0.8 - Wire Level Tailing</a></h4>
                        <p class="timeline__copy">Directly connect to vector instances and live tail the stream, compute aggregates, and get real-time millisecond latency.</p>
                    </div>
                </div>
                <div class="timeline__majorversion d-none d-sm-block">v1.0</div>
            </div>

            <div class="row pt-7 pb-7 d-none d-sm-block">
                <!-- Spacer for Major Version Number-->
            </div>

            <div class="row pt-5">
                <div class="col section__links text-center">
                    <a href="{{ $.Site.Params.roadmapURL }}">view roadmap</a>
                </div>
            </div>

        </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-12">
                    <div class="call-to-action__panel">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-md-6">
                                <h1 class="call-to-action__title">Stay In The Know!</h1>
                                <h5 class="call-to-action__copy">
                                    Join our mailing list to stay current or checkout one of our community resources.
                                </h5>
                            </div>
                            <div class="col-12 col-md-5 mt-3 mt-md-0">
                                <a class="btn btn--cta hover--primary mb-3" href="/mailing_list">Join Our Mailing List</a>
                                <a class="btn btn--cta hover--secondary" href="/community">Community</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
{{ end }}

{{ define "scripts" }}
    <!-- Custom Front-End Logic -->
    <script type="text/javascript">

        $(document).ready(function () {

            //
            // Performance tests
            //

            let performance_tests = new Vue({
                el: '#performance_tests',
                data: {
                    performance_tests_open: false,
                    selected_performance_test: 0,
                    selected_metric: 0,
                    performance_tests: [
                        /* Replaced by external JSON when mounted */
                        {
                            name: "",
                            description: "",
                            metrics: [{
                                name: "",
                                measurements: []
                            }]
                        }
                    ]
                },
                methods: {
                    selectPerformanceTest: function (selected_performance_test) {
                        this.selected_performance_test = selected_performance_test;
                        this.selected_metric = 0;
                        this.performance_tests_open = false;
                    },
                    calculatePercentage: function (value) {
                        let min_value = Math.min.apply(Math, this.performance_tests[this.selected_performance_test].metrics[this.selected_metric].measurements.map(function (o) {
                            return o.value;
                        }));
                        let max_value = Math.max.apply(Math, this.performance_tests[this.selected_performance_test].metrics[this.selected_metric].measurements.map(function (o) {
                            return o.value;
                        }));
                        return (value - min_value) * (75 - 15) / (max_value - min_value) + 15;
                    },
                    changeMetric: function (selected_metric) {
                        this.selected_metric = selected_metric;
                    }
                },
                mounted() {
                    let self = this;
                    $.getJSON("/data/performance_tests.json", function (json_data) {
                        self.performance_tests = json_data.performance_tests;
                    })
                },
                updated: function () {
                    window.animate_performance_tests();
                }
            });

            window.animate_performance_tests = function () {
                $(".performance_test__bar__element").each(function (i, obj) {
                    let target_width = $(obj).attr("data-performance_test-percentage");
                    $(obj).stop().animate({
                        width: target_width + "%"
                    }, 500 + (i * 200))
                });
            };

            //
            // Hero
            //

            window.hero_source_array = [
                {name: "file", url: "{{ $.Site.Params.fileSourceURL }}"},
                {name: "syslog", url: "{{ $.Site.Params.syslogSourceURL }}"},
                {name: "statsd", url: "{{ $.Site.Params.statsdSourceURL }}"},
                {name: "stdin", url: "{{ $.Site.Params.stdinSourceURL }}"},
                {name: "tcp", url: "{{ $.Site.Params.tcpSourceURL }}"}
            ];
            window.hero_logs_sink_array = [
                {name: "s3", url: "{{ $.Site.Params.s3SinkURL }}"},
                {name: "elasticsearch", url: "{{ $.Site.Params.elasticsearchSinkURL }}"},
                {name: "splunk-hec", url: "{{ $.Site.Params.splunkHECSinkURL }}"}, 
                {name: "cw-logs", url: "{{ $.Site.Params.cwLogsSinkURL }}"},
                {name: "http", url: "{{ $.Site.Params.httpSinkURL }}"},
                {name: "kafka", url: "{{ $.Site.Params.kafkaSinkURL }}"},
                {name: "tcp", url: "{{ $.Site.Params.tcpSinkURL }}"}
            ];
            window.hero_metrics_sink_array = [
                {name: "elasticsearch", url: "{{ $.Site.Params.elasticsearchSinkURL }}"},
                {name: "prometheus", url: "{{ $.Site.Params.prometheusSinkURL }}"},
                {name: "splunk-hec", url: "{{ $.Site.Params.splunkHECSinkURL }}"}
            ];

            $("[data-fadetype=\"source\"]").each(function (i, obj) {
                let source = hero_source_array[i];
                $(obj).parent().attr("href", source.url);
                $(obj).attr("src", "/images/source-" + source.name + ".png");
                $(obj).attr("data-fadeindex", i);
            });

            window.animateSources = function () {
                $("[data-fadetype=\"source\"]").each(function (index, obj) {
                    let i = parseInt($(obj).attr("data-fadeindex")) + 1;
                    if (i >= hero_source_array.length) {
                        i = 0;
                    }
                    $(obj).delay(400 * index).fadeOut("slow", function () {
                        let source = hero_source_array[i];
                        $(obj).parent().attr("href", source.url);
                        $(obj).attr("src", "/images/source-" + source.name + ".png");
                        $(obj).attr("data-fadeindex", i);
                        $(obj).fadeIn();
                    });
                });
            };

            setInterval(window.animateSources, 5000);

            $("[data-sink-type=\"logs\"]").each(function (i, obj) {
                let sink = hero_logs_sink_array[i];
                $(obj).parent().attr("href", sink.url);
                $(obj).attr("src", "/images/sink-" + sink.name + ".png");
                $(obj).attr("data-fadeindex", i);
            });

            $("[data-sink-type=\"metrics\"]").each(function (i, obj) {
                let sink = hero_metrics_sink_array[i];
                $(obj).parent().attr("href", sink.url);
                $(obj).attr("src", "/images/sink-" + sink.name + ".png");
                $(obj).attr("data-fadeindex", i);
            });

            window.animateSinks = function () {
                $("[data-fadetype=\"sink\"]").each(function (index, obj) {
                    let i = parseInt($(obj).attr("data-fadeindex")) + 1;

                    let sinks_array = ($(obj).attr("data-sink-type") == 'metrics') ?
                        hero_metrics_sink_array : hero_logs_sink_array;

                    if (i >= sinks_array.length) {
                        i = 0;
                    }
                    $(obj).delay(1200 + (400 * index)).fadeOut("slow", function () {
                        let sink = sinks_array[i];
                        $(obj).parent().attr("href", sink.url);
                        $(obj).attr("src", "/images/sink-" + sink.name + ".png");
                        $(obj).attr("data-fadeindex", i);
                        $(obj).fadeIn();
                    });
                });
            };

            setInterval(window.animateSinks, 5000);

            //
            // Topologies
            //

            $('.carousel').carousel()

            //
            // Mobile
            //

            $(document).on("click", ".heronav__hamburger", function () {
                $(".heronav").toggleClass("open--nav");
            });

        });

    </script>
{{ end }}