<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
    {{- partial "head.html" . -}}
    <body{{ with .Layout }} class="{{ . }}"{{ end }}>
        <div id="hero">
            <!-- Top Bar -->
            <div v-cloak>
                <a class="topbar" v-bind:href="link" v-cloak v-if="recent">
                    {{ "{{" }} version {{ "}}" }} released! View the release notes and download.
                </a>
                <a class="topbar" href="/mailing_list" v-else>
                    Join our mailing list. Simple monthly updates. No spam, ever.
                </a>
            </div>

            <section class="hero pt-5 pb-5">
                <div class="container">

                    <div class="row align-items-center">
                        <!-- Logo-->
                        <div class="col">
                            <a href="/"><img alt="Vector by Timber.io" class="hero__logo" src="/images/logo.png"></a>
                        </div>
                        <div class="col text-right d-block d-lg-none"><a class="heronav__hamburger pr-2" href="#"><i
                                class="fas fa-bars"></i></a></div>
                        <!-- Navigation-->
                        <div class="col-12 col-lg-9 text-right">
                            <nav class="heronav text-left text-lg-right">
                                <a class="heronav__item" href="{{ $.Site.Params.usecasesURL }}">Use Cases</a>
                                <a class="heronav__item" href="{{ $.Site.Params.docsURL }}">Docs</a>
                                <a class="heronav__item" href="/community">Community</a>
                                <a class="heronav__item mr-3" href="{{ $.Site.Params.downloadURL }}">Download</a>
                                <a class="heronav__item item--github mt-3 mt-lg-0" href="{{ $.Site.Params.repoURL }}"><img alt="View on GitHub"
                                                                                                 src="/images/github-icon.png"> View on
                                    GitHub</a>
                            </nav>

                        </div>
                    </div>

                    {{- block "hero" . }}{{- end }}
                </div>
            </section>
        </div>
        
        {{- block "header" . }}{{- partial "header.html" . -}}{{- end }}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}

        <!-- Custom Front-End Logic -->
        <script type="text/javascript">
            $(document).ready(function () {
                //
                // Latest Release via GitHub API
                //

                let latestrelease = new Vue({
                    el: '#hero',
                    data: {
                        version: "",
                        link: "",
                        recent: false
                    },
                    mounted() {
                        let self = this;
                        $.ajax({
                            url: 'https://api.github.com/repos/timberio/vector/releases/latest',
                            type: 'GET',
                            dataType: 'json',
                            success: function(json_data) {
                                self.version = json_data.tag_name;
                                self.link = json_data.html_url;
                                let releaseDate = new Date(json_data.published_at);
                                let pastDate = new Date().setDate((new Date().getDate() - 30));
                                if(releaseDate > pastDate){
                                    self.recent = true;
                                }
                            },
                            beforeSend: function(xhr){
                                xhr.setRequestHeader('Authorization', 'token 61f7937cc01093f4af09046a96fcf708d7e7c65f');
                            }
                        });
                    }
                });

                //
                // Mobile
                //

                $(document).on("click", ".heronav__hamburger", function () {
                    $(".heronav").toggleClass("open--nav");
                });
            });
        </script>

        {{- block "scripts" . }}{{- end }}
    </body>
</html>
